@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');

body {
    font-family: 'Kodchasan', sans-serif;

}

html,
body {
    height: 100%;
    line-height: 1.8;
    /*    color: #999
*/
}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px
}

.h-10 {
    height: 10px
}



.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffbf00;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* headr
==================================================*/

.box-header {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
}

.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-header.is-fixed {
    position: fixed;
    top: -80px;
    background-color: rgba(255, 255, 255, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.box-header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.box-header.menu-is-open {
    background-color: rgba(255, 255, 255, 0.96);
}

/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

b i:last-child {
    color: #ffbf00 !important;
}

.box-intro h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #999;
    line-height: 1.7
}


/* mouse effect */

.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #888;
    -webkit-animation: intro 1s;
    animation: intro 1s;
}

.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #888;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}


/* text rotate */

.box-headline {
    font-size: 130px;
    line-height: 1.0;
}

.box-words-wrapper {
    display: inline-block;
    position: relative;
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}



/* Responsive media queries
==================================================*/



@media only screen and (max-width: 670px) {
    .box-headline {
        font-size: 100px;
    }

    .box-intro h5 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

}

@media only screen and (max-width: 420px) {
    .box-headline {
        font-size: 50px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

}

.blog-slider__text {
    font-size: 1.1rem;
}

figure {
    margin: 0px;
    position: relative;

}

.rainbow-color {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.image-cover {
    position: absolute;
    opacity: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #123123;
    transition: opacity .5s;
}

.image-cover:hover {
    opacity: 1;

}

.is-checked {
    color: #4285f4 !important;
    background-color: transparent !important;
    border: 2px solid #4285f4 !important;
}

.filters-button-group {
    padding: 20px 0px 70px 0px;
}

.grid {
    margin: 0 auto;
}

.blog-slider {
    width: 100%;
    position: relative;
    max-width: 600px;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    transition: all .3s;
    min-height: 500px;
    height: auto;
    margin: 100px auto;
    justify-content: center !important;
}


@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
    }
}

.blog-slider__item {
    display: flex;
    align-items: center;
    flex-direction: column;

}


.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: .3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>* {
    opacity: 1;
    transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content {
    transition-delay: 0.3s;
}


.blog-slider__img {
    flex-shrink: 0;
    height: 300px;
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateY(-50%);
    width: 90%;
    overflow: hidden;
}

.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
}

.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all .3s;
}


@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
        height: 270px;
    }
}

.blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
}


@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
    }
}

.blog-slider__content>* {
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}

.blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    font-weight: 500;
}

.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
    .blog-slider__button {
        width: 100%;
    }
}

.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    bottom: auto !important;
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}

.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all .3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #000;
    height: 11px;
    width: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

.blog-slider__button:hover {
    border-radius: 2px;
    color: #fff;
    transition-delay: 0s !important;
}

.tmf {
    box-shadow: 4px 13px 30px 1px rgba(133, 92, 11, 0.4);
}

.tmf_button {
    box-shadow: 0px 14px 80px 1px rgba(133, 92, 11, 0.6);
    background-image: linear-gradient(147deg, #ffaa03 0%, #855c0b 74%);
}

.mdl {
    box-shadow: 4px 13px 30px 1px rgba(100, 94, 100, 0.4);
}

.mdl_button {
    box-shadow: 0px 14px 80px 1px rgba(100, 94, 100, 0.7);
    background-image: linear-gradient(147deg, #649ec9 0%, #645e64 74%);
}

.sky {
    box-shadow: 4px 13px 30px 1px rgba(247, 148, 31, 0.35);
}

.sky_button {
    box-shadow: 4px 13px 30px 1px rgba(247, 148, 31, 0.4);
    background-image: linear-gradient(147deg, #fcc800 0%, #F7941F 74%);
}

.iS {
    box-shadow: 4px 13px 30px 1px rgba(128, 194, 204, 0.35);
}

.iS_button {
    box-shadow: 4px 13px 30px 1px rgba(128, 194, 204, 0.4);
    background-image: linear-gradient(147deg, #9affec 0%, #80c2cc 74%);
}

.cnf {
    box-shadow: 4px 13px 30px 1px rgba(34, 73, 199, 0.4);
}

.cnf_button {
    box-shadow: 4px 13px 30px 1px rgba(34, 73, 199, 0.45);
    background-image: linear-gradient(147deg, #b1dfff 0%, #2249c7 74%);
}

.hb {
    box-shadow: 4px 13px 30px 1px rgba(28, 141, 201, 0.4);
}

.hb_button {
    box-shadow: 4px 13px 30px 1px rgba(34, 73, 199, 0.45);
    background-image: linear-gradient(147deg, #cceeff 0%, #1c8dc9 74%);
}

.iS_re {
    box-shadow: 4px 13px 30px 1px rgba(204, 138, 128, 0.4);
}

.iS_re_button {
    box-shadow: 4px 13px 30px 1px rgba(204, 138, 128, 0.45);
    background-image: linear-gradient(147deg, #80c2cc 0%, #ccbab0 74%);
}

.fhkpmi {
    box-shadow: 4px 13px 30px 1px rgba(110, 134, 158, 0.4);
}

.fhkpmi_button {
    box-shadow: 0px 14px 80px 1px rgba(110, 134, 158, 0.75);
    background-image: linear-gradient(147deg, #6dacec 0%, #6e869e 74%);
}

.hkgcpl {
    box-shadow: 4px 13px 30px 1px rgba(72, 172, 136, 0.4);
}

.hkgcpl_button {
    box-shadow: 0px 14px 80px 1px rgba(72, 172, 136, 0.5);
    background-image: linear-gradient(147deg, #00ff94 0%, #266a51 74%);
}

.hkfhy {
    box-shadow: 4px 13px 30px 1px rgba(89, 34, 130, 0.4);
}

.hkfhy_button {
    box-shadow: 0px 14px 80px 1px rgba(89, 34, 130, 0.5);
    background-image: linear-gradient(147deg, #d8a4ff 0%, #592282 74%);
}

.hknmda {
    box-shadow: 4px 13px 30px 1px rgba(72, 172, 136, 0.4);
}

.hknmda_button {
    box-shadow: 0px 14px 80px 1px rgba(72, 172, 136, 0.6);
    background-image: linear-gradient(147deg, #00ff94 0%, #266a51 74%);
}
.fresh{
    box-shadow: 4px 13px 30px 1px rgba(132, 199, 77, 0.4);
}
.fresh_button{
    box-shadow: 4px 13px 30px 1px rgba(132, 199, 77, 0.4);
    background-image: linear-gradient(147deg, #CCFFAE 0%, #429d19 74%);
}
.GFB {
    box-shadow: 4px 13px 30px 1px rgba(53, 145, 192, 0.4);
}
.GFB_button {
    box-shadow: 0px 14px 80px 1px rgba(53, 145, 192, 0.6);
    background-image: linear-gradient(147deg, #bfdeff 0%, #3591C0 74%);
}
.RC {
    box-shadow: 4px 13px 30px 1px rgba(151, 208, 220, 0.4);
}
.RC_button {
    box-shadow: 4px 13px 30px 1px rgba(151, 208, 220, 0.4);
    background-image: linear-gradient(147deg, #dff7ff 0%, #97D0DC 74%);
}
.school {
    box-shadow: 4px 13px 30px 1px rgba(169, 0, 111, 0.4);
}
.school_button {
    box-shadow: 4px 13px 30px 1px rgba(169, 0, 111, 0.4);
    background-image: linear-gradient(147deg, #FFD6F1 0%, #A9006F 74%);
}
.bp {
    box-shadow: 4px 13px 30px 1px rgba(120, 24, 95,0.4);
}
.bp_button {
    box-shadow: 4px 13px 30px 1px rgba(120, 24, 95,0.4);
    background-image: linear-gradient(147deg, #FFD6F1 0%, #A9006F 74%);
}
.AMW {
    box-shadow: 4px 13px 30px 1px rgba(0, 0, 0, 0.51);
}
.AMW_button {
    box-shadow: 4px 13px 30px 1px rgba(0, 0, 0, 0.51);
    background-image: linear-gradient(147deg, #D39D5E 0%, #000 74%);
}


