@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');
body{
font-family: 'Kodchasan', sans-serif;

}

.red_card {
    background: linear-gradient(45deg, #ffa9c0, #f54977);
}

.blue_card {
    background: linear-gradient(45deg, #90caf9, #047edf);
}

.green_card {
    background: linear-gradient(45deg, #86e6df, #14c1a6);
}

.purple_card {
    background: linear-gradient(45deg, #bb74e8, #5b45d6);
}

.card_header {
    margin-top: 1rem;
}

.card_icon {
    position: absolute;
    right: -30px;
    opacity: 0.2;
}

.card_icon:last-child {
    position: absolute;
    right: 0px;
    opacity: 0.2;
}

.section_card_red {
    background: linear-gradient(45deg, #ea4b40, #fff5ab);
}

.section_card_blue {
    background: linear-gradient(45deg, #3847f7, #00e0ff);
}

.section_card_green {
    background: linear-gradient(45deg, #06b93d, #5adaa5);
}

.section_card_purple {
    background: linear-gradient(45deg, #9a22d8, #b849bf);
}

.section_card_link {
    color: #FFF;
    text-decoration: underline;
    ;
}

img.mfp-img {
    max-height: 100% !important;
    /*max-width: 80% !important;*/
}

.mfp-figure:after {
    background: #4440 !important;
}

.mfp-close {
    position: fixed !important;
    top: 20px !important;
    right: 10px !important;
    opacity: 1 !important;
    color: red !important;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.float {
    z-index: 99;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 0 0 3px #000;
}

.my-float {
    margin-top: 22px;
}

.float_btn_none {
    display: none;
    transition: bottom 0.2s ease-in-out;

}
.empty-70{
    min-height:70px;
}
