
.probootstrap-section {
  padding: 0 0 3em 0;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.probootstrap-section.probootstrap-section-sm {
  padding: 3em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-section-colored, .probootstrap-section.probootstrap-section-dark {
  background: #ff7676;
  background: #f54ea2;
  background: -webkit-gradient(left top, right top, color-stop(0%, #f54ea2), color-stop(100%, #ff7676));
  background: -webkit-gradient(linear, left top, right top, from(#f54ea2), to(#ff7676));
  background: linear-gradient(to right, #f54ea2 0%, #ff7676 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );
}

.probootstrap-section.probootstrap-section-colored .section-heading h2, .probootstrap-section.probootstrap-section-colored .section-heading .heading-with-icon, .probootstrap-section.probootstrap-section-dark .section-heading h2, .probootstrap-section.probootstrap-section-dark .section-heading .heading-with-icon {
  color: white;
}

.probootstrap-section.probootstrap-section-colored .section-heading p, .probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon, .probootstrap-section.probootstrap-section-dark .heading-with-icon {
  color: #ff7676;
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon i, .probootstrap-section.probootstrap-section-dark .heading-with-icon i {
  color: #ff7676;
}

.probootstrap-section.probootstrap-section-colored p, .probootstrap-section.probootstrap-section-dark p {
  color: white;
}

.probootstrap-section.probootstrap-section-dark {
  background: whitesmoke;
  color: black;
}

.probootstrap-section.probootstrap-section-dark .section-heading h2, .probootstrap-section.probootstrap-section-dark .section-heading .heading-with-icon {
  color: black;
}

.probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(0, 0, 0, 0.6);
}

.probootstrap-section.probootstrap-section-dark p {
  color: rgba(0, 0, 0, 0.6);
}

.probootstrap-section.probootstrap-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

.probootstrap-section.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-block-image {
  background: #ffffff;
  /*margin-bottom: 30px;*/
}

.probootstrap-block-image figure img {
  max-width: 100%;

}

.probootstrap-block-image .text {
  padding: 20px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.probootstrap-block-image .text .date {
  display: block;
  color: #999999;
  font-size: 12px;
  letter-spacing: .2em;
  font-weight: 500;
  text-transform: uppercase;
}

.probootstrap-block-image .text h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.probootstrap-block-image .text h3 a {
  color: #000000;
}

.probootstrap-block-image .text h3 a:hover {
  color: #ff7676;
}

.probootstrap-block-image .text p.dark {
  color: #999999;
}

.probootstrap-block-image .text p:last-child {
  margin-bottom: 0;
}

.link-with-icon {
  color: #ff7676;
}

.link-with-icon i {
  position: relative;
  top: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
  left: -20px;
}

.link-with-icon:hover, .link-with-icon:focus {
  color: #ff4343;
}

.link-with-icon:hover i, .link-with-icon:focus i {
  position: relative;
  top: 2px;
  left: 0px;
  opacity: 1;
  visibility: visible;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.probootstrap-black-color {
  color: #000000 !important;
}

.probootstrap-primary-color {
  color: #ff7676 !important;
}

.probootstrap-secondary-color {
  color: #f54ea2 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-xs-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}
